<div class="d-flex min-vh-100">
    <!-- Sidebar -->
    <div class="d-flex flex-column flex-shrink-0 bg-body-tertiary" style="width: 150px;">
        <!-- Logo -->
        <a href="/" class="d-block p-3 link-body-emphasis text-decoration-none text-center" data-bs-toggle="tooltip" title="Inicio">
        <i class="bi bi-bootstrap fs-3"></i>
        </a>

        <!-- Navegación -->
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item">
            <a routerLink="/perfil" class="nav-link py-3 border-bottom rounded-0" title="Perfil">
            <i class="bi bi-person-circle fs-4"></i>
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/categoria" class="nav-link py-3 border-bottom rounded-0" title="Categorias">
            <i class="bi bi-clipboard2-plus fs-4"></i>
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/movimientos" class="nav-link py-3 border-bottom rounded-0" title="Movimientos">
            <i class="bi bi-plus-slash-minus fs-4"></i>
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/metas" class="nav-link py-3 border-bottom rounded-0" title="Ahorro">
            <i class="bi bi-piggy-bank fs-4"></i>
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/usuarios" class="nav-link py-3 border-bottom rounded-0" title="Usuarios">
            <i class="bi bi-people fs-4"></i>
            </a>
        </li>
        </ul>

        <!-- Perfil / Dropdown -->
        <div class="dropdown border-top">
        <a class="bi bi-person-circle fs-4 d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></a>
        <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" routerLink="/perfil">Perfil</a></li>
            <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
        </ul>
        </div>
    </div>

    <!-- Contenido principal -->
    <div class="flex-grow-1 p-4 ms-5">
        <router-outlet></router-outlet>
    </div>
</div>
